<!--Datatables-->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>


<div class="container-fluid">
    <button id="btnRefresh">AJAX</button>
    <table id="example" class="table table-striped table-hover  table-responsive" style="width:100%">
        <thead class="bg-primary text-gray-800">
            <tr>
                <th>Sustancia Activa</th>
                <th>Nombre</th>
                <th>Saldo</th>
                <th>P. Público</th>
                <th>Descuento</th>
                <th>Caducidad</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each meds}}
            <tr>
                <td>{{this.SustanciaActiva}}</td>
                <td>{{this.Nombre}}</td>
                <td>{{this.Saldo}}</td>
                <td>{{this.P_Publico}}</td>
                <td>{{this.Descuento}}</td>
                <td>{{timeago this.Caducidad}}</td> <!--Just a sample format-->
                <td><a href="/meds/edit/{{this.MedicamentoID}}"><i class="fa fa-pencil text-info"></i></a></td>
                <td><a href="/meds/delete/{{this.MedicamentoID}}"><i class="fa fa-trash text-danger"></i></a></td>
            </tr>
            {{else}} <!--If ther isn't any 'meds' elements-->
                <div class="col-md-4 mx-auto">
                    <div class="card card-body text-center">
                        <p>There are not Medicices saved yet.</p>
                        <a href="/meds/add">Create One!</a>
                    </div>
                </div>
            {{/each}}
            
        </tbody>
        <tfoot class="bg-light-green">
             <tr>
                <th>Sustancia Activa</th>
                <th>Nombre</th>
                <th>Saldo</th>
                <th>P. Público</th>
                <th>Descuento</th>
                <th>Caducidad</th>
                <th></th>
                <th></th>
            </tr>
        </tfoot>
    </table>
</div>
<!--SCRIPTS-->
 <script src="/js/medicine/list.js"></script>
<script src="/js/pruebaAJAX.js"></script>
