<div class="container mb-2">
    <table id={{tbID}} class="table table-striped table-hover  table-responsive table-sm" {{#if width}} style="width:{{width}}%"{{else}} style="width:100%"{{/if}}>
        <thead class="bg-light-green text-gray-800">
            <tr>
                <th>ID</th>
                <th>Sustancia Activa</th>
                <th>Nombre</th>
                {{#if quantity}}
                <th>Cantidad</th>
                {{else}}
                <th>Saldo</th>
                {{/if}}
                <th>Presentación</th>
                <th>P. Proveedor</th>
                <th>P. Público</th>
                <th>Descuento</th>
                <th>Caducidad</th>
                <th></th>
                <th></th>
            </tr>
        </thead>

        <tfoot class="bg-light-green">
            <tr>
                <th>ID</th>
                <th>Sustancia Activa</th>
                <th>Nombre</th>
                {{#if quantity}}
                <th>Cantidad</th>
                {{else}}
                <th>Saldo</th>
                {{/if}}
                <th>Presentación</th>
                <th>P. Proveedor</th>
                <th>P. Público</th>
                <th>Descuento</th>
                <th>Caducidad</th>
                <th></th>
                <th></th>
            </tr>
        </tfoot>
    </table>
</div>

{{#if modal}}
    {{#if quantity}}
        {{> medicine/modalCreateUpdate quantity=true}}
    {{else}}
        {{> medicine/modalCreateUpdate }}
    {{/if}}
{{/if}}


{{!-- ********** ONLY DATATABLES SCRIPTS ******************* --}}
<!--Datatables-->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.3.1/css/select.dataTables.min.css">


<script type="text/javascript" charset="utf8"
    src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8"
    src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
<script type="text/javascript" charset="utf8"
    src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js"></script>
