<div class="container mb-2">

    <table id={{tbID}} class="table table-striped table-hover  table-responsive table-sm" {{#if width}}
        style="width:{{width}}%" {{else}} style="width:100%" {{/if}}>
        <thead class="bg-light-green text-gray-800">
            <tr>
                <th>ID</th>
                <th>Sustancia Activa</th>
                <th>Nombre</th>
                <th>Presentación</th>
                <th>Saldo Anterior</th>
                {{#if quantity}}
                <th>Cantidad</th>
                {{else}}
                <th>Saldo</th>
                {{/if}}
                <th>Contenido</th>
                <th>Dosis</th>
                <th>Laboratorio</th>
                <th>Proveedor</th>
                <th>P. Proveedor</th>
                <th>P. Público</th>
                <th>Descuento</th>
                <th>P. Descuento</th>
                <th>Caducidad</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>

        <tfoot class="bg-light-green">
            <tr>
                <th>ID</th>
                <th>Sustancia Activa</th>
                <th>Nombre</th>
                <th>Presentación</th>
                <th>Saldo Anterior</th>
                {{#if quantity}}
                <th>Cantidad</th>
                {{else}}
                <th>Saldo</th>
                {{/if}} 
                <th>Contenido</th>
                <th>Dosis</th>
                <th>Laboratorio</th>
                <th>Proveedor</th>
                <th>P. Proveedor</th>
                <th>P. Público</th>
                <th>Descuento</th>
                <th>P. Descuento</th>
                <th>Caducidad</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </tfoot>


    </table>

    <div class="dropleft text-right">
        <button type="button" id="dropdownSettings{{tbID}}" class="btn btn-secondary fa fa-cogs" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" title="Ajustes">
        </button>
        <div class="dropdown-menu px-2" aria-labelledby="dropdownSettings{{tbID}}">
            {{#if quantity}}
            <button type="button" id="btnCol{{tbID}}" class="btn btn-secondary btnColumns mt-1 col-12 mx-auto"><i
                    class="fa fa-eye-slash pointer" title="Hide"></i></button>
            {{else}}
            <button type="button" id="btnActivo_{{tbID}}" class="btn btn-info btnActivos active mt-1 col-12 mx-auto"><i
                    class="fa fa-toggle-on pointer" title="Activos"></i> Activos</button>

            <button type="button" id="btnCol{{tbID}}" class="btn btn-secondary btnColumns mt-1 col-12 mx-auto"><i
                    class="fa fa-eye-slash pointer" title="Hide"></i></button>
            {{/if}}
        </div>
    </div>

</div>

{{#if modal}}
        {{> medicine/modalCreateUpdate quantity=quantity}}
{{/if}}

{{> medicine/modalColumns tbID=tbID source=source quantity=quantity}}

{{!-- ********** ONLY DATATABLES SCRIPTS ******************* --}}
<!--Datatables-->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.3.1/css/select.dataTables.min.css">


<script type="text/javascript" charset="utf8"
    src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8"
    src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
<script type="text/javascript" charset="utf8"
    src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js"></script>
